table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(38px, 0.2fr)
    minmax(180px, 1.37fr)
    minmax(100px, 1.2fr)
    minmax(100px, 1.5fr)
    minmax(100px, 1.2fr)
    minmax(100px, 1.2fr)
    minmax(100px, 1.2fr)
    minmax(100px, 1.3fr);
  font-size: 14.5px;
}
thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: rgb(243, 148, 91);
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #636363;
}

tr:nth-child(even) td {
  background: rgb(226, 222, 255);
}
